.form-control {
    font-family: 'AvenirNext';
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #2f3238!important;
  }
::-moz-placeholder { /* Firefox 19+ */
color: #2f3238!important;
}
:-ms-input-placeholder { /* IE 10+ */
color: #2f3238 !important;
}
:-moz-placeholder { /* Firefox 18- */
color: #2f3238 !important;
}


label {
font-family: 'AvenirNext';
font-size: 19px;
}



textarea {
    resize: none;
}

.custom-control {
    padding-left: 40px;
}

.custom-control-label::before {
    border: 2px solid #ced2d6;
}

.custom-control-input {
    &:checked ~ .custom-control-label::before {
        border-color: $green;
        background-color: $green;
    }
    &:not(:disabled):active ~ .custom-control-label::before {
       
    }
}

.custom-checkbox {
    .custom-control-label {
        font-weight: 500;
        &::before {
            width: 1.5rem;
            height: 1.5rem;
            left: -35px;
            border-radius: 0;
            border: 2px solid #ced2d6;
            background: #fff;
        }
        &::after {
            width: 1.67rem;
            height: 1.67rem;
            top: 0.1rem;
            left: -37px;
        }
    }
    .custom-control-input:checked {
        &~.custom-control-label {
            &::before {
                background-color: $green;
            }
            &::after {
                background-image: url('../images/check-white.png');
            }
        }
        + label {
            font-weight: 700;
        }
    }
}


.custom-radio {
    .custom-control-label::before  {
        top: 2px;
        left: -29px;
        width: 22px;
        height: 22px;
        background: #fff!important;
    }
    .custom-control-label::after {
        top: 6px;
        left: -25px;
        width: 14px;
        border-radius: 50%;
        height: 14px;
    }
    .custom-control-input:checked~.custom-control-label::after {
        background: $green;
    }

    .custom-control-input:checked + label {
        font-weight: 700;
    }
}

.required {
    color: $text-red;
}

.common-form {
    .form-control {
        border: 2px solid #ced2d6;
        height: 52px;
        border-radius: 0;
        font-size: 19px;
        font-weight: 500;
        background-color: #fff;
    }
    textarea {
        height: 85px !important;
    }
    select {
        background: url('../images/select-dropdown.png') no-repeat 96% center;
        -webkit-appearance: none;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #909295!important;
      }
    ::-moz-placeholder { /* Firefox 19+ */
    color: #909295!important;
    }
    :-ms-input-placeholder { /* IE 10+ */
    color: #909295 !important;
    }
    :-moz-placeholder { /* Firefox 18- */
    color: #909295 !important;
    }
}